<div class="container-fluid">
  <%= render 'layouts/header'%>


  <h2 id="user_header">User: <%=@user.username%> &nbsp; <h4 id="user_limit"> (last 20 for each action)</h4></h2>
  <h3 id="user_header_right">
    <%=@post_karma%> Post Karma<br>
    <%=@comment_karma%> Comment Karma

    <%if current_user==@user%>
      <br><%= link_to "Edit Account",edit_user_registration_path%>
    <%end%>
  </h3>

  <ul class="nav nav-tabs user_nav">
  <li class="active submitted_link"><a href="#" id="submitted_link">Submitted</a></li>
  <li class="liked_link"><a href="#" id="liked_link">Liked</a></li>
  <li class="disliked_link"><a href="#" id="disliked_link">Disliked</a></li>

</ul>
  <div class="row">
    <div class="col-md-9 col-xs-12 ">
      <div id="submitted">

        <%@submitted.each do |thing|%>
          <%if thing.class==Post%>
            <%= render 'posts/showpost',post: thing,counter:nil %>
          <% else%>
            <%=render 'comments/single_comment',comment:thing%>
          <%end%>
      <% end%>




      </div>
      <div id="liked">
        <%@liked.each do |thing|%>
          <%if thing.class==Post%>
          <%= render 'posts/showpost',post: thing,counter:nil %>
        <% else%>
          <%=render 'comments/single_comment',comment:thing%>
          <%end%>
      <%  end%>
      </div>
      <div id="disliked">
        <%@disliked.each do |thing|%>
          <%if thing.class==Post%>
          <%= render 'posts/showpost',post: thing,counter:nil %>
        <% else%>
          <%=render 'comments/single_comment',comment:thing%>
          <%end%>
      <%  end%>
      </div>

    </div>
    <%= render "subreddits/defaultsidebar" %>

  </div>

</div>


<div id='slider'>
  <%= render "subreddits/defaultsidebarmobile" %>
</div>

<button id='trigger'><span class="glyphicon glyphicon-th-list"></span></button>

<script>
$('#slider').slideReveal({
  trigger: $("#trigger"),
  position:"right",
  width:"415px",
  top:170,
  push: false,
  overlay: true
});
$('#submitted_link').click(function() {
  $("#submitted").fadeIn("slow");
  $("#disliked").fadeOut("fast");
  $("#liked").fadeOut("fast");

  $(".submitted_link").addClass( "active" );
  $(".liked_link").removeClass( "active" );
  $(".disliked_link").removeClass( "active" );
});
$('#liked_link').click(function() {
  $("#liked").fadeIn("slow");
  $("#submitted").fadeOut("fast");
  $("#disliked").fadeOut("fast");

  $(".liked_link").addClass( "active" );
  $(".disliked_link").removeClass( "active" );
  $(".submitted_link").removeClass( "active" );
});
$('#disliked_link').click(function() {
  $("#disliked").fadeIn("slow");
  $("#submitted").fadeOut("fast");
  $("#liked").fadeOut("fast");

  $(".disliked_link").addClass( "active" );
  $(".liked_link").removeClass( "active" );
  $(".submitted_link").removeClass( "active" );
});


</script>
