<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" id="header">
      <%= link_to (image_tag("logo.png",:id=>'logo')),root_path  %>
      <ul class="nav nav-pills">
       <li><a href="/top">Top</a></li>
       <li><a href="/new">New</a></li>
       <li><a href="/all">All</a></li>
       <li id="optional"><a href="#">Controversial</a></li>
       <% if user_signed_in?%>
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Your Subreddits
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <%current_user.subreddits.each do |subreddit| %>
              <li><%= link_to subreddit.name, subreddit %></li>
           <%end%>
         </ul>
       </li>
       <%else%>
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Default Subreddits
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <%Subreddit.default.default.each do |subreddit| %>
              <li><%= link_to subreddit.name, subreddit %></li>
           <%end%>
         </ul>
       </li>
       <%end%>
       <% if user_signed_in?%>
         <ul class="list-inline right">
          <li><a href="/user/<%=current_user.username%>"><%=current_user.username%></a></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
        <%else%>
        <ul class="list-inline right">
         <li><%= link_to('Login',new_user_session_path)%></li>
         <li><%= link_to('Sign Up',new_user_registration_path)%></li>
       </ul>
       <%end%>
     </ul>
    </div>
  </div>
  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
  <% end %>
  <h2 id="user_header">User: <%=@user.username%> </h2>
  <h3 id="user_header_right">
    <%=@post_karma%> Post Karma<br>
    <%=@comment_karma%> Comment Karma

    <%if current_user==@user%>
      <br><%= link_to "Edit Account",edit_user_registration_path%>
    <%end%>
  </h3>

  <ul class="nav nav-tabs user_nav">
  <li class="active submitted_link"><a href="#" id="submitted_link">Submitted</a></li>
  <li class="liked_link"><a href="#" id="liked_link">Liked</a></li>
  <li class="disliked_link"><a href="#" id="disliked_link">Disliked</a></li>
</ul>
  <div class="row">
    <div class="col-md-9 col-xs-12 ">
      <div id="submitted">

        <%@submitted.each do |thing|%>
          <%if thing.class==Post%>
            <%= render 'posts/showpost',post: thing,counter:nil %>
          <% else%>
            <%=render 'comments/single_comment',comment:thing%>
          <%end%>
      <% end%>



        <%= will_paginate @submitted, :page_links => false %>
      </div>
      <div id="liked">
        <%@liked.each do |thing|%>
          <%if thing.class==Post%>
          <%= render 'posts/showpost',post: thing,counter:nil %>
        <% else%>
          <%=render 'comments/single_comment',comment:thing%>
          <%end%>
      <%  end%>
      </div>
      <div id="disliked">
        <%@disliked.each do |thing|%>
          <%if thing.class==Post%>
          <%= render 'posts/showpost',post: thing,counter:nil %>
        <% else%>
          <%=render 'comments/single_comment',comment:thing%>
          <%end%>
      <%  end%>
        <%= will_paginate @disliked, :page_links => false %>
      </div>

    </div>
    <%= render "subreddits/defaultsidebar" %>

  </div>

</div>


<div id='slider'>
  <%= render "subreddits/defaultsidebarmobile" %>
</div>

<button id='trigger'><span class="glyphicon glyphicon-th-list"></span></button>

<script>
$('#slider').slideReveal({
  trigger: $("#trigger"),
  position:"right",
  width:"415px",
  top:170,
  push: false,
  overlay: true
});
$('#submitted_link').click(function() {
  $("#submitted").fadeIn("slow");
  $("#disliked").fadeOut("fast");
  $("#liked").fadeOut("fast");

  $(".submitted_link").addClass( "active" );
  $(".liked_link").removeClass( "active" );
  $(".disliked_link").removeClass( "active" );
});
$('#liked_link').click(function() {
  $("#liked").fadeIn("slow");
  $("#submitted").fadeOut("fast");
  $("#disliked").fadeOut("fast");

  $(".liked_link").addClass( "active" );
  $(".disliked_link").removeClass( "active" );
  $(".submitted_link").removeClass( "active" );
});
$('#disliked_link').click(function() {
  $("#disliked").fadeIn("slow");
  $("#submitted").fadeOut("fast");
  $("#liked").fadeOut("fast");

  $(".disliked_link").addClass( "active" );
  $(".liked_link").removeClass( "active" );
  $(".submitted_link").removeClass( "active" );
});


</script>
