<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" id="header">
      <%= link_to (image_tag("logo.png",:id=>'logo')),root_path  %>
      <ul class="nav nav-pills">
       <li><a href="/top">Top</a></li>
       <li><a href="/new">New</a></li>
       <li><a href="/all">All</a></li>
       <li id="optional"><a href="#">Controversial</a></li>
       <% if user_signed_in?%>
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Your Subreddits
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <%current_user.subreddits.each do |subreddit| %>
              <li><%= link_to subreddit.name, subreddit %></li>
           <%end%>
         </ul>
       </li>
       <%else%>
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Default Subreddits
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <%Subreddit.default.default.each do |subreddit| %>
              <li><%= link_to subreddit.name, subreddit %></li>
           <%end%>
         </ul>
       </li>
       <%end%>
       <% if user_signed_in?%>
         <ul class="list-inline right">
          <li><a href="/user/<%=current_user.username%>"><%=current_user.username%></a></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
        <%else%>
        <ul class="list-inline right">
         <li><%= link_to('Login',new_user_session_path)%></li>
         <li><%= link_to('Sign Up',new_user_registration_path)%></li>
       </ul>
       <%end%>
     </ul>
    </div>
  </div>
  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
  <% end %>





  <div class="row">
    <div class="col-md-9 col-xs-12 ">
      <%= render 'posts/showpagepost',post: @post,counter:"" %>

    <p id="show_points">

      Percentage That Like It: <%= (@post.get_upvotes.size/@post.votes_for.size)*100%>% |
      total: <%= @post.votes_for.size%> votes |
      upvotes: <%= @post.get_upvotes.size%> |
      downvotes: <%= @post.get_downvotes.size%>
    </p>

      <%if user_signed_in?%>
        <% if @post.root_comments.size != 0%>
          <%= render partial: "comments/template", locals: {post:@post, commentable: @best_comments, new_comment: @comment,sort:params[:order]} %>
        <%else%>
        <%= render partial: "comments/template", locals: {post:@post,commentable: @post.root_comments, new_comment: @comment,sort:params[:order]} %>
        <%end%>
      <%else%>
          <div class="comments-header">
            <h4>
              <%= @post.comment_threads.count == 0 ? "no" : @post.comment_threads.count %> comments
            </h4>
            <div class="dropdown comment_sort">
             <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">sort by <%= params[:order]=="new" ? "new": "best" %>
             <span class="caret"></span></button>
             <ul class="dropdown-menu">
               <li><%= link_to "Best",post_path(@post.id)%></li>
               <li><%= link_to "New",post_path(@post.id, order:"new") %></li>
             </ul>
           </div>
          </div>
          <% if @post.root_comments.size != 0%>
            <%= render partial: "comments/reply", locals: {comments: @best_comments, new_comment: @comment} %>
          <%else%>
          <%= render partial: "comments/reply", locals: {comments: @post.root_comments, new_comment: @comment} %>
          <%end%>
      <%end%>


    </div>
  <%= render "subreddits/defaultsidebar" %>
  </div>


</div>


<div id='slider'>
  <%= render "subreddits/defaultsidebarmobile" %>
</div>

<button id='trigger'><span class="glyphicon glyphicon-th-list"></span></button>



</div>
<script>
$(function() {
  return $('.comment-reply').click(function() {
    $(this).closest('.comment').find('.reply-form').fadeToggle();
  });
});

$('#slider').slideReveal({
  trigger: $("#trigger"),
  position:"right",
  width:"415px",
  top:70,
  push: false,
  overlay: true
});

$('textarea').focus(function(){
  $(this).css("background", "none");
})
$('textarea').blur(function(){
  $('textarea').css("background-image","url(<%= asset_path('textarea.png') %>)");
  $('textarea').css("background-repeat","no-repeat");
  console.log("blur");
})
</script>
