<%@all_subreddits=[]%>
<%Subreddit.all.each do |sub|%>
  <%@all_subreddits<<sub.name%>
<%end%>
<div class="hidden-xs hidden-sm col-md-3 sidebar">
  <div class="sidebar_search inner-addon left-addon">
    <%= bootstrap_form_tag(url:"/search", :method => :get) do |f| %>
      <%= f.text_field :search,placeholder:"Search Subreddit",hide_label: true, icon: "search",class:"search", data: { suggestions:@all_subreddits.join(',')} %>
    <% end %>
    <h3 id="search_header" class="search_header">Search</h3>
  </div>
  <%if user_signed_in?%>
    <%if current_user.admin.subreddits.include? @subreddit%>
      <h2>Mod Controls</h2>
      <%= link_to 'Edit Subreddit', edit_subreddit_path(@subreddit) %>
    <%end%>
    <%else%>
    <div class="sidebar_login">
      <h3>Sign In</h3>
      <%= bootstrap_form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email,placeholder:"Your Email",hide_label: true, icon: "user" %>
        <%= f.password_field :password,placeholder:"Your Password",hide_label: true%>
        <%= f.check_box :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= link_to "Forgot your password?", new_password_path(:user) %> |
        <%= link_to'Sign Up',new_user_registration_path%>
      <% end %>
    </div>
  <%end%>
  <div id="subreddit_image_div">
    <%=image_tag("photo.jpg",id:"subreddit_image")%>
  </div>
  <% if @user%>
    <div id="user_mod_of">
      <b> <%=@user.username%> IS MODERATOR OF</b>
        <ul ><%@user.admin.subreddits.each do |sub|%>
                <li><%=link_to sub.name,sub%></li>
              <%end %>
        </ul>
      <%= link_to direct_message_path(user:@user),class:"pm_link" do %>
        <%="Send #{@user.username} a direct message "%><span class="glyphicon glyphicon-envelope"></span>
      <% end %>
    </div>
  <%end%>
  <%if user_signed_in?%>
    <%= link_to 'New Subreddit', new_subreddit_path,class:"btn btn-info new_post_btn btn-lg new_sub" %>
  <%else%>
    <%= link_to 'New Subreddit', "#",class:"btn btn-info new_post_btn btn-lg dummy new_sub" %>
  <%end%>
  <div class="adone"></div>
  <h2 id="default_sidebar_header">Reddit: The Front Page of The Internet!</h2>
  <div class="ad"></div>
</div>

<script>
$.validate({
  lang: 'en',
  modules : 'security',
  onSuccess : function($form) {

  },
  onError : function($form) {
    sweetAlert("Opps!", "Something Was Wrong", "warning");
    return false; // IF FALSE Will stop the submission of the form
  }
});

$('.search').focus(function() {
  $("#search_header").text("");
  $(".sidebar_search").css({"border-color":"#ff4f00"});
});

$('.search').focusout(function() {
  $("#search_header").text("Search");
  $(".sidebar_search").css({"border-color":"#5bc0de"});
});

$('.sidebar_login input').focus(function() {
  $(".sidebar_login").css({"border-color":"#ff4f00"});
});

$('.sidebar_login input').focusout(function() {
  $(".sidebar_login").css({"border-color":"#5bc0de"});
});

$('.dummy').click(function() {
  sweetAlert("Opps!", "You Need To Sign In to Post", "error");
});
</script>
