<div class="container">
<%= bootstrap_form_for(@subreddit, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if @subreddit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subreddit.errors.count, "error") %> prohibited this subreddit from being saved:</h2>

      <ul>
      <% @subreddit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.text_area :description, help: "shows when searched for; something new users see first", data: { validation: 'length',validation_length:"min1" } %>
  </div>
  <div class="form-group">
    <%= f.text_area :rules, help: "displayed on subreddit sidebar (optional)" %>
  </div>
  <div class="form-group">
    <%= f.text_area :message, help: "displayed on subreddit sidebar (optional)" %>
  </div>
  <div class="form-group">
    <%= f.text_field :image_url, help: "optional image to display on subreddit sidebar" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<h3>New Subreddit Password (is required for new mods)</h3>
<%= bootstrap_form_for(@subreddit, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if @subreddit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subreddit.errors.count, "error") %> prohibited this subreddit from being saved:</h2>

      <ul>
      <% @subreddit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.password_field :password, label: "New Password", data: { validation: 'length',validation_length:"min6",validation_help:"must be atleast 6 characters long"} %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, label: "New Password Confirmation", data: { validation: 'confirmation',validation_confirm:"subreddit[password]",validation_help:"must match password entered previously"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<script>
$.validate({
  lang: 'en',
  modules : 'security',
  onSuccess : function($form) {

  },
  onError : function($form) {
    sweetAlert("Opps!", "Something Was Wrong", "warning");
    return false; // IF FALSE Will stop the submission of the form
  }
});
</script>
