<%@all_subreddits=[]%>
<%Subreddit.all.each do |sub|%>
  <%@all_subreddits<<sub.name%>
<%end%>
<div class="hidden-xs hidden-sm col-md-3 sidebar">
  <div class="sidebar_search inner-addon left-addon">
    <%= bootstrap_form_tag(url:"/search", :method => :get) do |f| %>
      <%= f.text_field :search,placeholder:"Search Subreddit",hide_label: true, icon: "search",class:"search", data: { suggestions:@all_subreddits.join(',')} %>
    <% end %>
    <h3 id="search_header" class="search_header">Search</h3>
  </div>
  <%if user_signed_in?%>
    <%if current_user.admin.subreddits.include? @subreddit%>
      <h2>Mod Controls</h2>
      <%= link_to 'Edit Subreddit', edit_subreddit_path(@subreddit) %>
    <%end%>
    <%else%>
    <div class="sidebar_login">
      <h3>Sign In</h3>
      <%= bootstrap_form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email,placeholder:"Your Email",hide_label: true, icon: "user" %>
        <%= f.password_field :password,placeholder:"Your Password",hide_label: true %>
        <%= f.check_box :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= link_to "Forgot your password?", new_password_path(:user) %> |
        <%= link_to'Sign Up',new_user_registration_path%>
      <% end %>
    </div>
  <%end%>
  <div id="subreddit_image_div">
    <%=image_tag(@subreddit.image_url,id:"subreddit_image")%>
  </div>
  <h2><%=@subreddit.name%></h2>
  <% if user_signed_in?%>
    <% if current_user.subreddits.include? @subreddit %>
    <%= link_to 'Unsubscribe', subreddit_unsubscribe_path(id: @subreddit),class:"btn btn-warning subscribe_btn btn-lg", data: { confirm: 'Are you sure?' } %>
    <%else%>
    <%= link_to 'Subscribe', subreddit_subscribe_path(id: @subreddit),class:"btn btn-success subscribe_btn btn-lg" %>
    <%end%>
  <%end%>
  <% if user_signed_in?%>
    <%= link_to 'New Post', new_post_path(subreddit: @subreddit.id),class:"btn btn-info new_post_btn btn-lg" %>
    <%= link_to 'New Subreddit', new_subreddit_path,class:"btn btn-info new_post_btn btn-lg new_sub" %>
  <%else%>
    <%= link_to 'New Post', "#",class:"btn btn-info new_post_btn btn-lg dummy" %>
    <%= link_to 'New Subreddit', "#",class:"btn btn-info new_post_btn btn-lg dummy new_sub" %>
  <%end%>
  <h3>Number of Subscribers</h3>
  <p><%=@subreddit.users.count%></p>
  <h3>Subreddit Description</h3>
  <p><%= @subreddit.description %></p>
  <h3>Subreddit Rules</h3>
  <p><%=@subreddit.rules%></p>
  <h3>Message from the Mod(s)</h3>
  <p><%=@subreddit.message%></p>
  <h3>List of Mod(s)</h3>
  <ul>
    <% @subreddit.admins.each do |mod|%>
      <li><%= link_to mod.user.username,user_show_path(username: mod.user.username) unless mod.user==nil%>
    <%end%>
  </ul>
  <% if user_signed_in?%>
    <%if current_user.admin.subreddits.include? (@subreddit)%>
      <h3>Want to Cancel Mod Status?</h3>
      <%= link_to 'Remove Mod Status!', subreddit_removeadmin_path(id:@subreddit),data: { confirm: 'Are you sure?' }%>
    <%else%>
      <h3>Want to Become a Mod?</h3>
      <%= link_to 'Become a Mod!', "#",class:"show_form" %>
      <%=form_tag({controller: "subreddits", action: "admin"}, method: "get", class: "hidden_form") do%>
      <%=hidden_field_tag 'id', @subreddit.name%>
      <%=text_field_tag 'password',"",placeholder:"Subreddit Password",class:"form-control"%>
      <%=submit_tag "Become Mod", class:"btn btn-info",data: { confirm: 'Are you sure?' }%>
      <%end%>
    <%end%>
  <%end%>
</div>
<script>
$('.dummy').click(function() {
  sweetAlert("Opps!", "You Need To Sign In to Post", "error");
});

$('.search').focus(function() {
  $("#search_header").text("");
  $(".sidebar_search").css({"border-color":"#ff4f00"});
});

$('.search').focusout(function() {
  $("#search_header").text("Search");
  $(".sidebar_search").css({"border-color":"#5bc0de"});
});


$('.sidebar_login input').focus(function() {
  $(".sidebar_login").css({"border-color":"#ff4f00"});
});

$('.sidebar_login input').focusout(function() {
  $(".sidebar_login").css({"border-color":"#5bc0de"});
});

$(".show_form").click(function(e){

})
</script>
