<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" id="header">
      <%= link_to (image_tag("logo.png",:id=>'logo')),root_path  %>
      <% if @focus != false%>
        <h4 id="subreddit_header_name"><%=@focus%>:</h4>
      <%end%>
      <ul class="nav nav-pills">
        <% if @focus != false%>
          <li><%=link_to "Top",top_path(subreddit:@focus)%></li>
        <%else%>
         <li><a href="/top">Top</a></li>
        <%end%>
        <% if @focus != false%>
          <li class="active"><%=link_to "New",new_path(subreddit:@focus)%></li>
        <%else%>
         <li class="active"><a href="/new">New</a></li>
        <%end%>
       <li><a href="/all">All</a></li>
       <li id="optional"><a href="#">Controversial</a></li>
       <% if user_signed_in?%>
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Your Subreddits
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><%current_user.subreddits.each do |subreddit| %></li>
            <li><%= link_to subreddit.name, subreddit %></li>
           <%end%>
         </ul>
       </li>
       <%else%>
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Default Subreddits
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <%Subreddit.default.default.each do |subreddit| %>
              <li><%= link_to subreddit.name, subreddit %></li>
           <%end%>
         </ul>
       </li>
       <%end%>
       <% if user_signed_in?%>
         <ul class="list-inline right">
          <li><a href="/user/<%=current_user.username%>"><%=current_user.username%></a></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
        <%else%>
        <ul class="list-inline right">
         <li><%= link_to('Login',new_user_session_path)%></li>
         <li><%= link_to('Sign Up',new_user_registration_path)%></li>
       </ul>
       <%end%>
     </ul>
    </div>
  </div>
  <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
  <% end %>
  <div class="row">
    <div class="col-md-9 col-xs-12 ">
  <% @ordered_posts.each_with_index do |post,counter| %>
    <%= render 'posts/showpost',post: post,counter:@ordered_posts.offset + counter + 1 %>
    <%=  %>
  <%end%>
  <%= will_paginate @ordered_posts, :page_links => false %>
  </div>

  <%if @subreddit!=nil%>
    <%= render "sidebar" %>
  <%else%>
    <%= render "defaultsidebar" %>
  <%end%>
  </div>
</div>


<%if @subreddit!=nil%>
  <div id='slider'>
    <%= render "subreddits/sidebarmobile" %>
  </div>
  <button id='trigger'><span class="glyphicon glyphicon-th-list"></span></button>
<%else%>
  <div id='slider'>
    <%= render "subreddits/defaultsidebarmobile" %>
  </div>
  <button id='trigger'><span class="glyphicon glyphicon-th-list"></span></button>
<%end%>

<script>
$('#slider').slideReveal({
  trigger: $("#trigger"),
  position:"right",
  width:"415px",
  top:70,
  push: false,
  overlay: true
});
</script>
