<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/header'%>

  </div>
  <div class="row">
    <div class="col-md-9 col-xs-12 ">
      <h2>Subreddits Like '<%=@search%>'</h2>
      <% @subreddits.each do |subreddit| %>
        <div class="subreddit_listing">
          <%=link_to subreddit.name,subreddit%>
          <p><%=subreddit.users.count%> subscribers</p>
          <p><%=subreddit.description%></p>
        </div>
      <%end%>
      <% if @subreddits.count == 0 %>
        <h3 id="subreddit_search_error">There Was No Matches! Try Again.</h3>
      <%end%>
      <%= will_paginate @subreddits, :page_links => false %>
    </div>

  <%= render "defaultsidebar" %>
  </div>
</div>
