<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" id="header">
      <%= link_to (image_tag("logo.png",:id=>'logo')),root_path  %>
      <% if @focus != false%>
        <h4 id="subreddit_header_name"><%=@focus%>:</h4>
      <%end%>
      <ul class="nav nav-pills">
        <% if @focus != false%>
          <li class="active"><%=link_to "Top",top_path(subreddit:@focus)%></li>
        <%else%>
         <li class="active"><a href="/top">Top</a></li>
        <%end%>
        <% if @focus != false%>
          <li><%=link_to "New",new_path(subreddit:@focus)%></li>
        <%else%>
         <li><a href="/new">New</a></li>
        <%end%>
       <li><a href="/all">All</a></li>
       <li id="optional"><a href="#">Controversial</a></li>
       <% if user_signed_in?%>
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Your Subreddits
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <%current_user.subreddits.each do |subreddit| %>
              <li><%= link_to subreddit.name, subreddit %></li>
           <%end%>
         </ul>
       </li>
       <%else%>
       <li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">Default Subreddits
         <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <%Subreddit.default.default.each do |subreddit| %>
              <li><%= link_to subreddit.name, subreddit %></li>
           <%end%>
         </ul>
       </li>
       <%end%>
       <% if user_signed_in?%>
         <ul class="list-inline right header_user">
          <li><a href="/user/<%=current_user.username%>"><%=current_user.username%></a></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
        <%else%>
        <ul class="list-inline right header_user">
         <li><%= link_to('Login',new_user_session_path)%></li>
         <li><%= link_to('Sign Up',new_user_registration_path)%></li>
       </ul>
       <%end%>
     </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-xs-12 ">
      <% @ordered_posts_keys.each_with_index do |post,counter| %>
        <%= render 'posts/showpost',post: post,counter:@ordered_posts_keys.offset + counter + 1 %>
      <%end%>
      <%= will_paginate @ordered_posts_keys, :page_links => false %>
    </div>



  <%if @subreddit!=nil%>
    <%= render "sidebar" %>
  <%else%>
    <%= render "defaultsidebar" %>
  <%end%>
</div>

</div>
